@{
    ViewBag.Title = "Trần Văn Minh";
}
<h2>@ViewBag.Title.</h2>
<h3>Bài Thi Giữa kì của Trần Văn Minh </h3>

<address>
  K22CNT2 môn lập trình ứng dụng wed với công nghệ asp.net mvc5
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:tranvanminh20640@gmail.com">tranvanminh20640@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:tranvanminh20640@gmail.com">tranvanminh20640@gmail.com</a>
</address>